@font-face {
    font-family: 'Mary Kay Script Cyrillic'; /* Гарнитура шрифта */
    src: url(../fonts/MKScriptCYRReg.eot); /* Для IE5-8 */
    src: local(Mary Kay Script Cyrillic), url(../fonts/MaryKayScriptCYRRegular.ttf); /* Для остальных браузеров */
    font-weight: 400;
	font-style: normal;

   }


body {
    /* overflow-x: hidden; */
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
    /* overflow-y:hidden; */
    background-color: white;
    /* height: 4rem; */
    /* background: url(../img/background.png) no-repeat;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; */
    margin-bottom: 2rem;



    font-family: "Calibri";
    /* height: 200px; */
    /* text-align: center; */


    /* font-family: "Mary Kay Script Cyrillic"; */

      
    
}

.blok1-text {
    background: url(../img/women-pink.png) no-repeat;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.bgpink {
    background-color: #ec607d;
    opacity: 0.8;
    position: relative;
    left: -10%;
    top: 20%;
    box-shadow: 0 0 10px rgba(0,0,0,0.5)
}

.bgpink p {
  
    /* height: 90%; */
font-family: "Mary Kay Script Cyrillic";
    /* font-family: "Mary Kay Script Cyrillic"; */
    color: white;
    font-size: 2em;
    padding: 2%;
    padding-right: 0px;
    font-weight: 700;
    opacity: 1;
    text-align: right;
    margin-right: 1%;
}

.seminarheader img{
    margin: 10%;
    margin-top: 14%;

}

.blok2-text {
    background: url(../img/women-purple.png) no-repeat;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.bgperpele {
    background-color:#6b4788;
    opacity: 0.8;
    position: relative;
    left: -10%;
    top: 20%;
    box-shadow: 0 0 10px rgba(0,0,0,0.5)
}

.bgperpele h3 {
   
    font-family: "Mary Kay Script Cyrillic";
    color: #e56782;
    font-size: 2em;
    padding-top: 5%;
   
    padding-left: 7%;
    font-weight: 700;
    opacity: 1;
    text-align: left;
    margin-right: 1%;
}

.bgperpele li {
    list-style-type: none;
    /* height: 90%; */
    font-family: "Mary Kay Script Cyrillic";
    color: white;
    font-size: 1.5em;
    padding: 1%;
    /* padding-right: 0px; */
    font-weight: 700;
    opacity: 1;
    text-align: left;
    margin-right: 1%;
    /* line-height: 65%; */
    padding-bottom: 1%;
    margin-left: -2%;
}


.pinkmessage{
    letter-spacing: 2px;
    margin-top: 2%;
    background-color: #e56782;
    font-family: "Mary Kay Script Cyrillic";
    color: white;
    font-weight: 700;
    font-size: 1.5em;
    /* padding: 1%; */
    padding-right: 5%;
    padding-left: 10%;
    box-shadow: 0 0 10px rgba(0,0,0,0.5)
    
}

.pinkmessage p{
   padding-top: 2%;
}

.pinkmessageleft{
 letter-spacing: 2px;
    margin-top: 2%;
    background-color: #e56782;
    font-family: "Mary Kay Script Cyrillic";
    color: white;
    font-weight: 700;
    font-size: 1.5em;
    /* padding: 1%; */
    padding-left: 5%;
    padding-right: 10%;
    box-shadow: 0 0 10px rgba(0,0,0,0.5)
    
}

.pinkmessageleft p{
   padding-top: 2%;
}





.paket{
    min-height: 45rem;
    background-color: #8867a3;
    margin-top: 10%;

}


.blockpaket{
    text-align: center;
    margin-top: -2%;
    background-color: white;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    border-radius: 10px;
    margin-right: 10px;
    margin-bottom: 5%;
    /* margin-left: -5px; */
    
}
.packetname {
    color: #e56782;
    font-family: "Mary Kay Script Cyrillic";
    font-weight: 700;
    font-size: 5em;
    overflow: hidden;
    text-align: center;
    
}
.blockpaket h3 {
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    
}


.mychoice1{
    /* min-width: 10rem; */
    background-color: palevioletred;
    color: white;
    margin-bottom: 3%;
    border-radius: 10px;
    width: 100%;
    font-size: 2em;
    padding-top: 8%;

}
.mychoice2{
    /* min-width: 10rem; */
    background-color: pink;
    color: white;
    margin-bottom: 3%;
    border-radius: 10px;
    width: 100%;
    font-size: 2em;
    padding-top: 8%;

}
.mychoice3{
    /* min-width: 10rem; */
    background-color: #6b4788;
    color: white;
    margin-bottom: 3%;
    border-radius: 10px;
    width: 100%;
    font-size: 2em;
    padding-top: 8%;


}


.blockpaket li{
    list-style-type: none;
    font-size: 0.8rem;
    margin-left: -5%;
    /* text-align: center; */
}



.perlemessage{
    letter-spacing: 2px;
    margin-top: 2%;
    background-color: #8867a3;
    font-family: "Mary Kay Script Cyrillic";
    color: white;
    font-weight: 700;
    font-size: 1.5em;
    /* padding: 1%; */
    padding-left: 5%;
    padding-right: 10%;
    box-shadow: 0 0 10px rgba(0,0,0,0.5)
    
}

.perlemessage p{
   padding-top: 2%;
}

.blokennimg{
    background-color: #d4c3e2;
}

.blokenn h3{
    padding-top: 5%;
    font-family: "Mary Kay Script Cyrillic";
    color: #8867a3;
    font-weight: 800;
    font-size: 2em;  
}


.semkalendar{
    padding-right: 53%;
}
.semkalendar p{
    /* padding-top: 2%; */
    position: relative;
    /* top: 42px; */
    font-size: 2.5rem; 
}

.seminarimg{
    min-height: 500px;
    background: url(../img/building.png) no-repeat;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.semday1{
    text-align: center;
    margin-top: 10%;
    background-color: #8867a3; 
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5)
}

.semday1 h3{
    text-align: center;
    padding-top: 5%;
}

.semday1card-body{
    text-align: left;
    margin-top: 2%;
    background-color: white; 
    border-radius: 0  0 10px 10px;
    
}
.semdayimg{
    text-align: center;
    margin-top: 10%;
    /* background-color: #8867a3;  */
    /* border-radius: 10px; */
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    margin-bottom: 2%;
}

.seminarline{
    margin-top: -2%;
    font-family: "Cyrillic";
    color: black;
    font-weight: 600;
    letter-spacing: 0px;
    font-size: 1rem;

}


.footer-button{
    text-align: center;
}



.delivery p {
    text-align: justify;
}


.lastblock p {
    text-align: justify;
}




.semawards li {
    text-align: left;
    font-size: 1em;
    line-height: 1em;
}
.semawards h3 {
    text-align: center;
    /* font-size: 1em; */
    color: #8867a3; 
    padding-top: 5%;
    font-family: "Mary Kay Script Cyrillic";
    font-weight: 600;

}

.semawards2 li {
    text-align: left;
    font-size: 1em;
    font-size: 1em;
    line-height: 1em;

}
.semawards2 h3 {
    padding-top: 5%;
    text-align: center;
    color: palevioletred;
    font-family: "Mary Kay Script Cyrillic";
    font-weight: 600;

}

.bgperpele2 {
    background-color:#6b4788;
    opacity: 0.7;
      box-shadow: 0 0 10px rgba(0,0,0,0.5)
}

.bgperpele2 li {
    list-style-type: none;
    font-family: "Mary Kay Script Cyrillic";
    color: white;
    font-size: 2em;
    padding-top: 5%;
   
    padding-left: 7%;
    font-weight: 600;
    opacity: 1;
    text-align: left;
    margin-right: 1%;

}

















@media only screen and (max-width:960px){
   
}




html, body {
    overflow: hidden;
    height: 100%;
    box-sizing: border-box;
    margin: 0;
  }
  
  body {
    overflow-y: scroll;
    width: calc(100% + 20px);
    padding: 8px;
  }