body {
    background: none;
}

/* .myformbody {
    height: 4rem;
    background: url(../img/background.png) no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin-bottom: 2rem;
   } */

.myformbody2 {
    overflow: hidden
}

.whiteblock3 {
    box-shadow: 0 1px 4px rgba(0, 0, 0, .3),
        -23px 0 20px -23px rgba(0, 0, 0, .6),
        23px 0 20px -23px rgba(0, 0, 0, .6),
        inset 0 0 40px rgba(0, 0, 0, .1);
    position: relative;
    margin-left: 10px;
    margin-top: -40px;
    /* margin-bottom: -40px; */
    overflow: hidden;
    background-color: white;
    z-index: 2;

}

.reddiv3 {
    padding: 2rem 0rem 2rem 2rem;
    /* position: absolute; */
    width: auto;
    /* height:530px; */
    margin-top: 1.5rem;
    background-color: #c62a29;
}

.textbox form {
    text-align: left;
    pa
}

form button {
    text-align: center;
}

.divregbtn {
    text-align: center;
}
.formbg {
    padding: 2rem;
    background-color: #c62a29;
}
.formbg label {
    color: white;
    font-weight: 600;
    
}
.formbg input {
 border-radius: 0rem;
    
}